<div class="b-page-students">
        <h1>СТУДЕНТЫ</h1>

        <div class="b-student__control">
            <span class="b-button addStudent">+ добавить студента</span>
        </div>
        <div class="b-students__list">

        </div>
    </div>
    </div>