<div class="b-page-lecture-big__comments_comments-list">
        {{#each comments}}
        <div class="b-page-lecture-big__comments_line">
            <div class="b-page-lecture-big__comments-author">{{name}}</div>
            {{message}}
        </div>
        {{/each}}
    </div>